body{
    background-color: ##dcf7f5;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Roboto', sans-serif;

}
#home {
    height: 500px;
}

.list1 {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(209, 212, 219); 
    margin: 8px 8px 8px 8px;
}
.nav-link{
    padding: 17px;
}
nav {
    background-color: #dcf7f5;
    box-shadow: 3px 3px 5px #5f5d5d;
}

.list1 .nav-item:hover{
    background-color: #dcf7f5;
    border-radius: 23px;
    /* padding: -53px; */
}
h1{
    font-family: 'Poppins', 'Roboto', sans-serif;

}
p{
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.row{
    width: 1140px;
}
.col{
    width: 10%;
    display: flex;
    padding-top: 150px;
    padding-left: 400px;
}
#profileimg{
    width: 320px;
    border-radius: 60%;
    margin-left: 350px;
    height: 340px;
    box-shadow: 3px 3px 5px rgb(209, 212, 219); 
}
#about p:nth-child(2) {
    text-align: justify;
}
.table .ssc{
    padding-right: 45px;
}
#edu{
    overflow: hidden;
}
#con{
    margin-left: 90px;
}
footer {
    width: 90%;
    text-align: center;
    padding: 80px 0;
    background: #dbe2f5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    box-shadow: 3px 3px 5px rgb(209, 212, 219);
    border-radius: 10px;
}
footer p{
    color: #3b79cb;
}
.nav-item {
    margin: 10px;
    border-radius: 25px;
}
.container-fluid{
    
}
.skill-item{
    padding: 10px;
}
#Edu{
   padding-right: 14%;
    padding-bottom: 5%;
}
#skill{
    padding-top: 10px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10px;
    background-color: #e3efff;
    backface-visibility: 40%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(209, 212, 219);

}
.banner-btn{
    margin: 15px auto 0;
    transition: 0.5s;
    font-size: 16px;
    padding-top: 10px;

}
.banner-btn a{
    text-align: center;
    width: 160px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 30px;
    background: #76cdac;
    color: #fff;
    border: 2px solid #76cdac;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    
}
.banner-btn a:hover{
    background: transparent;
    border: 2px solid black;
    color: black;
}
.mb-3 {
    padding-right: 40%;
    
}
